EXPO_PUBLIC_API_BASE_URL=https://api.example.com
EXPO_PUBLIC_SOCKET_URL=https://socket.example.com
EXPO_PUBLIC_VERSION_JSON_URL=https://apifinetags.finepro.net/mobile-app/android/heattreatment/version.json
EXPO_PUBLIC_APP_ENV=development
